
Language: Cpp

IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 160

AlignArrayOfStructures: Right


SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true

SpaceInEmptyBlock: false
SpaceBeforeAssignmentOperators: true



